.large {
	font-size:200%;
}

#green {
    color:green;
}

#blue {
    color:blue;
}

.underline {
    text-decoration:underline;
}

.bold {
    font-weight:bold;
}

.purplebox {
    background-color:#B404AE;
    width:200px;
    height:200px;
    padding-left:100px;
    padding-top:0;
}

.greenbox {
    background-color:#295715;
    width:300px;
    height:200px;
}

.bluebox {
    background-color:blue;
    width:300px;
    height:200px;
    padding-left:50px;
    padding-top:0;
    float: right;
}

p {
	padding:0;
	margin:0; 
}